<hr>
<h1> Sobre Nuestra Empresa</h1>

<hr>
<br>
<strong>PROSA S DE RL</strong>
<p>Es una Empresa que ofrece productos de gran calidad y beneficio para diversos aspectos:
    enfocamos en el bienestar de la agricultura, promoviendo productos orgánicos para el
     desarrollo en los procesos agronómicos. A su vez la excelencia, eficacia y 
      son imprescindibles en nuestros productos.  
</p>

<p>
    El principal compuesto de nuestros productos son las zeolitas naturales,
     mineral natural de     origen volcánico con propiedades físico químicas únicas. 
    Este mineral posee gran variedad de beneficios (los cuales han sido
    científicamente comprobados) para la vida animal y vegetal.
</p>

<hr>
<br>
<p>


</p>

<app-logo></app-logo>