<header class="ae-container-fluid ae-container-fluid--full rk-header ">

  <div class="ae-container-fluid rk-topbar">
    <h1 ><a href="index.html">PROSA S DE R L</a></h1>

    <div class="card highlight-card card-small"> 

      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item"><img src="../assets/img/LogoAbsorbZSegundoBoderRedondeado1.png">

          </li>
          <li class="rk-menu__item"><a href="index.html" class="rk-menu__link"></a>
          </li>
          <li class="rk-menu__item"><a class="rk-menu__link" routerLinkActive="active" [routerLink]="['about']">Acerca
              de Nosotros</a>
          </li>
          <li class="active rk-menu__item"><a class="rk-menu__link">Portafolio de Productos</a>
          </li>
          <li class="rk-menu__item"><a href="blog.html" class="rk-menu__link" routerLinkActive="active"
              [routerLink]="['menubotones']">Blog</a>
          </li> <!-- a href="#0" class="rk-menu__link" -->
          <li class="rk-menu__item"><a class="rk-menu__link" routerLinkActive="active"
              [routerLink]="['Contact']">Contact Us</a>
          </li>
          <li class="rk-menu__item">
            <!-- class="rk-menu__item" -->
            <details class="blq">
              <summary class="boton">Paginas</summary>
              <ul class="links">
                <li><a class="rk-menu__link" href="Twitter.html">Twitter</a></li>
                <li><a href="documentation.html" class="rk-menu__link">Facebook </a></li>
                <li><a href="design-styles.html" class="rk-menu__link">Casa Matriz</a></li>
              </ul>

            </details>
          </li>

        </ul>
        <!-- <form class="rk-search">
        <input type="text" placeholder="Search" id="urku-search" class="rk-search-field">
        <label
         for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </form> -->
      </nav>
    </div>

  </div>
</header>