
      <div class="form-container">
         <h2> CONTACTANOS </h2>
         <form [formGroup]="contactForm" (ngSubmit) = "onSaveForm()" > 
           
            <input type="text" formControlName="name" placeholder="Nombre">
            <input type="text" formControlName="email" placeholder="Correo">
            <input type="text" formControlName="Telefono" placeholder="Telefono">
            <textarea formControlName="message" placeholder="Escriba aqui su mensaje"></textarea>
            <button type="submit" class="btn-send"  > Enviar </button>

         </form>
       </div>

