<hr>
<h2>Sugeridas para Aves</h2>
<hr>
     
    <table id="fila">
        
        <tr id="filaBorde"> <td>* Pollos de engorde- 30kg por tonelada</td>   </tr>
        <tr id="filaBorde"> <td>* Ponedoras - 20 kg por tonelada</td>   </tr>
        <tr id="filaBorde"> <td>* No exceda el 2% de la ración diaria de alimento</td>   </tr>        
        <th> Suelo, Abono y estiércol</th>
         <tr id="filaBorde"> <td> Cubra el piso del gallinero con 1/2 plgada de Absorb-Z.  </td>  </tr>
         <tr id="filaBorde"> <td> Mezcle una capa de Absorb-Z en la pila de estiércol / abono antes de voltear </td>  </tr>

     </table>  


<hr>
<h2>Sugeridas para Bovinos</h2>
<hr>
<table id="fila">
   <tr id="filaBorde"><td>  * Suelo en graneros:</td> <td>Cubra el área limpia del establo / corral con una capa de un 1/4 de pulgada. </td></tr>
   <tr id="filaBorde"> <td> * Aplique el zeolitico (heno, astillas de madera, etc). </td></tr>
   <tr id="filaBorde"> <td> * Remueva el suelo sucio y rocie de 1-2 tazas de Absorb-Z en el área húmeda.</td></tr>
   <tr id="filaBorde"> <td> * Coloque el suelo sucio sobre la pila del estiércol y cúbrala con Absorb-Z.</td></tr>
   <tr id="filaBorde"><td>  * Corrales exteriores</td> <td>Aplique una capa de 1/4 de pulgada al suelo(área embarrada).</td></tr>
   <tr id="filaBorde"> <td>    Absorb-Z descompondrá la orina en nitrógeno y gas, reduciendo olor  y absorbiendo agua.</td></tr>
   <tr id="filaBorde"><td> * Lecho de arena</td> <td>Aplique Absorb-Z a la arena, 1/4 de pulgada, mezcle con arena.</td></tr>
   <tr id="filaBorde"><td> </td> <td>Reduccion de mosca y olores. El área permanecerá seca.</td></tr>
</table>
