<Br>
<Hr>
<h2>MEJORA DE ALIMENTACION DE GALLINAS </h2>
<hr>
<H3>Aves de Corral</H3>

<table id="fila">
   <tr id="filaBorde" >
       <td>*</td>
       <td > Reduce el gas amoniaco de espacios confinados </td>
   </tr>
   <tr id="filaBorde" ><td>*</td>
    <td> La FDA considera que Absorb-Z es 100% seguro y no tóxico. </td></tr>
    <tr id="filaBorde" ><td>*</td>
        <td> Elimina los olores generados por la orina en el suelo de las gallinas. </td></tr>
        <tr id="filaBorde" ><td>*</td>
            <td> Controla el contenido de humedad, reduce la infestacion de mosca. </td></tr>
        <tr id="filaBorde" ><td>*</td>
            <td>
                El suelo seco ayuda a la salud de las aves de corral recien nacidas y confinadas.    
            </td>
        </tr>
        <tr id="filaBorde" ><td>*</td>
                <td>
                    Aumenta el grosor de la cascara del huevo.
                </td>
         </tr>
                <tr id="filaBorde" ><td>*</td>
                    <td>
                        Aumenta de la producción del huevo graduable.
                    </td>  </tr>  
                <tr id="filaBorde" > <td>*</td> <td>Reducción de las quemaduras en las patas.</td> </tr>
                <tr id="filaBorde" > <td>*</td> <td>Reduce la tasa de mortalidad en pollitos</td> </tr>
                <tr id="filaBorde" > <td>*</td> <td> Como Alimento </td> </tr>
                <tr id="filaBorde" ><td> </td> <td> A. Aumenta el peso total de los pollos de engorde. </td>   </tr>
                <tr id="filaBorde" ><td> </td> <td> B. Aumenta la cantidad de Huevo. </td>   </tr>
                <tr id="filaBorde" > <td>*</td> <td>Captura el nitrógeno del amoníaco para ayudar a reducir el olor cuando el suelo se usa como abono.</td> </tr>
                <tr id="filaBorde" > <td>*</td> <td>Cuando se mezclan con estiércol reduce el olor, la infestación de moscas.</td> </tr>
                  

</table>

<br>
<hr>

<table id="fila">
    <th> Aplicaciones Sugerigas:  </th>
    <tr id="filaBorde"> <td> Pollos de engorde - 30 Kg por tonelada.  </td></tr>
    <tr id="filaBorde"> <td> Ponedoras - 20 kg por tonelada.  </td></tr>
    <tr id="filaBorde" > <td> No exceda el 2 % de la ración diaria de alimento. </td></tr>
</table>

<br>
<hr>

<table id="fila">
    <th>Suelo, abono y estiércol  </th>
    <tr id="filaBorde">  <td> Cubra el piso del gallinero con 1/2 pulgada de Absorb - Z </td></tr>
    <tr id="filaBorde">  <td> Mezcle una capa de Absorb-Z en la pila de estiércol / abono antes de voltear </td></tr>
</table>    
